.popup__input {
  padding: 0 0 10px;
  margin-top: 30px;
  border: none;
  border-bottom: rgba(0, 0, 0, 0.2) 1px solid;
  width: 100%;
  display: block;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  outline: none;
  white-space: normal;
}
/* .popup__input:invalid {
  border-bottom: 1px solid #ff0000;
} */
